@model BookingMovieTickets.Models.FilmSchedule

@{
    ViewData["Title"] = "AddSchedule";
}
<h1>Thêm lịch chiếu</h1>
<div class="container-fluid">

    <form asp-action="AddSchedule" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="FilmId">Tên phim</label>
            <select asp-for="FilmId" asp-items="ViewBag.Movies" class="form-control"></select>
            <span asp-validation-for="FilmId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TheatreRoomId">Phòng</label>
            <select asp-for="TheatreRoomId" asp-items="ViewBag.Rooms" class="form-control"></select>
            <span asp-validation-for="TheatreRoomId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ScheduleDescriptionId">Giờ chiếu</label>
            <select asp-for="ScheduleDescriptionId" asp-items="ViewBag.ScheduleDescription" class="form-control"></select>
            <span asp-validation-for="ScheduleDescriptionId" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
</div>

<div>
    <a asp-action="Index">Trở về</a>
</div>