@model BookingMovieTickets.Models.FilmSchedule

@{
    ViewData["Title"] = "Delete";
}

<h3>Bạn muốn xóa suất chiếu này?
</h3>
<div>
    <br />
    <hr />
    <dl class="row">

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScheduleDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScheduleDescription.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FilmScheduleId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="DisplaySchedule" asp-route-id="@Model.FilmId">Trở về</a>
    </form>
</div>
