@model IEnumerable<MoviesBooking.Models.FilmCategory>

<p>
    <a asp-action="Add" asp-controller="FilmCategory" asp-area="Admin">Thêm thể loại mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <span>Tên thể loại</span>
            </th>
            <th><span>Hành động</span></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a asp-action="Edit" asp-controller="FilmCategory" asp-area="Admin" asp-route-id="@item.FilmCategoryId">Chỉnh sửa</a> |
                    <a asp-action="Delete" asp-controller="FilmCategory" asp-area="Admin" asp-route-id="@item.FilmCategoryId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
