@model IEnumerable<MoviesBooking.Models.FilmCategory>

<p>
    <a asp-action="Add" asp-controller="FilmCategory" asp-area="Admin">Thêm thể loại mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a asp-action="Edit" asp-controller="FilmCategory" asp-area="Admin" asp-route-id="@item.FilmCategoryId">Edit</a> |
                    <a asp-action="Delete" asp-controller="FilmCategory" asp-area="Admin" asp-route-id="@item.FilmCategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
