@using Microsoft.AspNetCore.Identity
@using BookingMovieTickets.Models

@inject SignInManager<UserInfo> SignInManager
@inject UserManager<UserInfo> UserManager
@{
    var user = UserManager.GetUserAsync(User);
}

<style> 
    *{
        color: white;
    }
</style>

@if (!SignInManager.IsSignedIn(User) && user ==null)
{
        <div class="col-4 py-lg-2">
            <div class="row">
                <a class="text-decoration-none text-light" style="text-align:right;" id="register" asp-area="Identity" asp-page="/Account/Register">Đăng ký</a>
            </div>
        </div>
        <div class="col-4 py-lg-2">
            <div class="row">
                <a class="text-decoration-none text-light"
                   style="text-align: right;" id="login" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
            </div>
        </div>

}
else
{
    <div style="display:flex;gap:10px;">
        <div class="col-4 py-lg-2">
            <div class="row">
                <a id="manage" class="text-decoration-none text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </div>
        </div>
        <div class="col-4 py-lg-2">
            <div class="row">
                <a id="logout" sp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Logout</a>
                      <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
            </form>
            </div>
        </div>
    </div>
        
}

