<style>
    .section-container {
        color: #fff !important;
    }

    .row.mb-4.d-flex {
        color: #fff !important;
    }

    .section.cart-section.section-b-space {
        padding: 50px 0 100px;
    }

    .cart--container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .cart--container .item--cart {
            /* align-self: flex-end */
            margin: 0px 0 50px 90px;
        }

    .cart-checkout-section {
    }

    .total-box-checkout {
        margin: 10px 5px 100px;
        width: 330px;
        height: 170px;
        padding: 30px;
        background-color: #1e1f29;
        opacity: 0.9;
        border-radius: 27px;
        box-shadow: 10px 10px 5px 0px rgba(255, 213, 100,0.75);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(255, 213, 100,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(255, 213, 100,0.75);
        box-sizing: border-box;
    }

        .total-box-checkout .title-details, .total-box-checkout .action-total {
            margin: 5px auto;
        }

    .table > tbody > tr > td {
        vertical-align: middle;
        line-height: 1.2;
        padding: 8px;
        border-top: 2px solid #ddd
    }

    .title-gradient {
        font-size: 26px;
        background-color: #00DBDE;
        background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


    .title-gradient-h {
        font-size: 26px;
        text-transform: uppercase;
        background-color: #de0004;
        background-image: linear-gradient(90deg, #f00 0%, #122125 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        .title-gradient
    }

    .box-updown {
        display: flex;
    }

    h4 {
        margin-top: 0;
        margin-bottom: 0;
    }

    h5 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .btn-action {
        min-width: 100px;
        text-align: center;
        display: inline-block;
        background: #fff;
        text-transform: uppercase;
        color: #000;
        border: 3px solid #ffc936;
        padding: 8px 30px;
        margin: 5px 0;
        border-radius: 30px;
        transition: background 0.5s;
        font-weight: 700;
    }

        .btn-action:hover {
            color: white;
            border: 3px solid #ffc936;
            background-image: linear-gradient(160deg, #ffc936 0%, #d08080 100%);
            transition: ease 0.7s;
        }

</style>

<div class="cart--container">
    <div>
        <h3 class="title-gradient">BẠN ĐÃ THANH TOÁN THÀNH CÔNG!!!</h3>
        <img src="~/images/empty_cart.jpg" style="margin-left:20px" width="auto" height="300px" />
        <div class="item--cart" style="margin-left:125px;">
            <a asp-action="Index" asp-controller="Home" style="margin: 20px; display: inline-block; padding: 10px 20px; background-color: #007bff; color: white; border-color:007bff; text-decoration: none; border-radius: 5px;">
                <i class="fa-solid fa-arrow-left"></i>
                XEM VÉ ĐÃ ĐẶT
            </a>
        </div>

    </div>
</div>