@model MoviesBooking.Models.Film

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<style>
    .page-header {
        margin: unset;
    }

</style>
@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header-2">
                            <h5>Thêm phim vào cơ sở dữ liệu</h5>
                        </div>

                        <form asp-action="Add" class="theme-form theme-form-2 mega-form" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="mb-4 row align-items-center">
                                    <label class="form-label-title col-sm-2 mb-0" class="control-label">Tên phim</label>
                                    <div class="col-sm-10">
                                        <input asp-for="NameFilm" class="form-control" style="width: 100%;height: 50px;color:black" />
                                        <span asp-validation-for="NameFilm" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="mb-4 row align-items-center">
                                    <label class="col-sm-2 col-form-label form-label-title" name="CategoryId">Thể loại phim</label>
                                    <div class="col-sm-10">
                                        <select asp-for="FilmCategoryId" class="form-control js-example-basic-single w-100 " style="height: 50px; color:black" asp-items="ViewBag.FilmCategory"></select>
                                    </div>
                                </div>

                                <div class="mb-4 row align-items-center">
                                    <label class="form-label-title col-sm-2 mb-0">Liên kết Trailer</label>
                                    <div class="col-sm-10">
                                        <input asp-for="TrailerUrl" class="form-control" required style="width: 100%;height: 50px;color:black" />
                                        <span asp-validation-for="TrailerUrl" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="mb-4 row align-items-center">
                                    <label class="form-label-title col-sm-2 mb-0">Ảnh</label>
                                    <div class="col-sm-10">
                                        <input asp-for="PosterUrl" class="form-control" type="file" accept="image/*" id="posterInput" onchange="previewPoster(event)" />
                                    </div>
                                </div>
                                <div class="mb-4 row align-items-center">
                                    <label class="form-label-title col-sm-2 mb-0">Xem trước Poster</label>
                                    <div class="col-sm-10">
                                        <img id="posterPreview" src="#" alt="Preview Poster" style="max-width: 100%; max-height: 250px; display: none;" />
                                    </div>
                                </div>
                                <div class="mb-4 row align-items-center">
                                    <label class="form-label-title col-sm-2 mb-0">Mô tả</label>
                                    <div class="col-sm-10">
                                        <input asp-for="Description" class="form-control" style="width: 100%;height: 50px;color:black" />
                                    </div>
                                </div>
                                <div class="mb-4 row align-items-center">
                                    <label class="form-label-title col-sm-2 mb-0">Đạo diễn</label>
                                    <div class="col-sm-10">
                                        <input asp-for="DirectorName" class="form-control " style="width: 100%;height: 50px;color:black" />
                                        <span asp-validation-for="DirectorName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-4 row align-items-center">
                                    <label class="form-label-title col-sm-2 mb-0">Dàn diễn viên</label>
                                    <div class="col-sm-10">
                                        <input asp-for="Actors" class="form-control " style="width: 100%;height: 50px;color:black" />
                                        <span asp-validation-for="Actors" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-4 row align-items-center">
                                    <label class="form-label-title col-sm-2 mb-0">Thời lượng phim (phút)</label>
                                    <div class="col-sm-10">
                                        <input asp-for="FilmDuration" class="form-control" style="width: 100%; height: 50px; color: black;" />
                                        <span asp-validation-for="FilmDuration" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-4 row align-items-center">
                                    <label class="form-label-title col-sm-2 mb-0">Ngôn ngữ</label>
                                    <div class="col-sm-10">
                                        <input asp-for="Language  " class="form-control " style="width: 100%;height: 50px;color:black" />
                                        <span asp-validation-for="Language" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-4 row align-items-center">
                                    <label class="form-label-title col-sm-2 mb-0">Giới hạn độ tuổi</label>
                                    <div class="col-sm-10">
                                        <input asp-for="FilmRated" class="form-control " style="width: 100%;height: 50px;color:black" />
                                        <span asp-validation-for="FilmRated" class="text-danger"></span>
                                    </div>
                                </div>
                               
                                <div class="mb-4 row align-items-center">
                                    <label class="form-label-title col-sm-2 mb-0">Ngày công chiếu</label>
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            <div class='input-group date' id='datepicker'>
                                                <input asp-for="StartTime" type="text" class="form-control " style="width: 100%;height: 50px;color:black" value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>                                       
                                            <span asp-validation-for="StartTime" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-end border-0 pt-0">
                                    <a asp-action="Index" asp-area="Admin" asp-controller="Movie" class="btn btn-warning">Trở về danh sách</a>
                                    <button class="btn btn-primary me-3" type="submit">Thêm</button>
                                    <button class="btn btn-outline-primary" type="reset">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function previewPoster(event) {
        const input = event.target;
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                const posterPreview = document.getElementById('posterPreview');
                posterPreview.src = e.target.result;
                posterPreview.style.display = 'block';
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    
</script>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>


    <script>
        $(function () {
            $('#datepicker').datetimepicker({
                format: 'DD-MM-YYYY'    
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('input[name="FilmDuration"]').on('input', function () {
                // Remove any non-digit characters
                this.value = this.value.replace(/[^0-9]/g, '');
            });
        });
    </script>
}
