@model MoviesBooking.Models.Film

@{
    ViewData["Title"] = "Update";
}

<h1>Cập nhật thông tin Phim</h1>

<h4>Film</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FilmId" />
            <div class="form-group">
                <label asp-for="NameFilm" class="control-label"></label>
                <input asp-for="NameFilm" class="form-control" />
                <span asp-validation-for="NameFilm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" type="text"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PosterUrl" class="control-label"></label>
                <input asp-for="PosterUrl" class="form-control" type="file" accept="image/*" />
                <span asp-validation-for="PosterUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrailerUrl" class="control-label"></label>
                <input asp-for="TrailerUrl" class="form-control" />
                <span asp-validation-for="TrailerUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DirectorName" class="control-label"></label>
                <input asp-for="DirectorName" class="form-control" />
                <span asp-validation-for="DirectorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Language" class="control-label"></label>
                <input asp-for="Language" class="form-control" />
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilmRated" class="control-label"></label>
                <input asp-for="FilmRated" class="form-control" />
                <span asp-validation-for="FilmRated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilmDuration" class="control-label"></label>
                <input asp-for="FilmDuration" class="form-control" />
                <span asp-validation-for="FilmDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actors" class="control-label"></label>
                <input asp-for="Actors" class="form-control" />
                <span asp-validation-for="Actors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilmCategoryId" class="control-label"></label>
                <select asp-for="FilmCategoryId" class="form-control" asp-items="ViewBag.FilmCategories"></select>
                <span asp-validation-for="FilmCategoryId" class="text-danger"></span>
            </div>
@*             <div class="form-group">
                <label asp-for="PremiereTimeId" class="control-label"></label>
                <select asp-for="PremiereTimeId" class="form-control" asp-items="ViewBag.PremiereTimes"></select>
                <span asp-validation-for="PremiereTimeId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <img src="@Model.PosterUrl" alt="Poster Image" style="width:200px" id="previewImage" />
    </div>
</div>

<div>
    <a asp-action="Index" asp-area="Admin" asp-controller="Manager">Trở về</a>
</div>

<script>
    document.querySelectorAll('input[type="file"]').forEach(input => {
        input.addEventListener('change', function (event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const img = document.getElementById("previewImage")
                    img.src = e.target.result
                };
                reader.readAsDataURL(file);
            }
        });
    });
</script>