.details-wrapper p {
    font-size: 120%;
}

.col-md-8.col-sm-12 .title {
    text-align: center; 
}
.details-wrapper {
    max-width: 600px;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 50px auto;
    font-size: 18px;
}

form {
    max-width: 600px;
    margin: 50px auto;
    background-color: #cab938;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    form label {
        font-weight: bold;
    }

    form input[type="text"],
   form input[type="tel"],
    form textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box; 
}

form textarea {
    height: 150px;
}

form button[type="button"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
}

form button[type="button"]:hover {
        background-color: #0056b3;
    }
