@model BookingMovieTickets.Models.TheatreRoom

@{
    ViewData["Title"] = "Create";
}

<h1>Thêm phòng</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TheatreId" class="control-label">Tên rạp</label>
                <select asp-for="TheatreId" class ="form-control" asp-items="ViewBag.Theaters"></select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index" asp-controller="Theatre">Trở về</a>
</div>

