@model TicketCart

@{
    decimal Total = 0;
    decimal subtotal = 0;
    // List < Product > = ViewBag.productLis;
}

<style>
    *{
        color:black;
    }
</style>

@if(Model.Items.Count == 0)
{
    <h2>KHONG CO DU LIEU</h2>
}
else
{
    @foreach (var item in Model.Items)
        {
            <div>
                <h2>@item.FilmId</h2>
                <h2>@item.FilmScheduleId</h2>
                <h2>@item.SeatId</h2>
            </div>
        }
}

