@model BookingMovieTickets.VIewModel.FilmVM
@using BookingMovieTickets
@using BookingMovieTickets.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Index";Layout = "_Layout";
}
<h1>Quản lý</h1>
<div class="container-fluid">
    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Phim</a>
        </li>
        <!--Thêm tab nếu cần thiết-->
        <li class="nav-item">
            <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false"> Thể loại </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">Phòng</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
            <partial name="~/Areas/Admin/Views/Movie/_FilmPartialView.cshtml" model="@Model.Films"/>
        </div>
        <div class="tab-pane" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
            <partial name="~/Areas/Admin/Views/FilmCategory/_CategoriesPartialView.cshtml" model="@Model.FilmCategories" />
        </div>
        <div class="tab-pane" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
            <partial name="~/Areas/Admin/Views/TheatreRoom/_RoomPartialView.cshtml" model="@Model.TheatreRooms" />
        </div>
        <!--Thêm tab content  dưới này-->
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#myTab a').on('click', function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });
</script>
