@model List<MoviesBooking.Models.UserInfo>
@using BookingMovieTickets.Models
@{
          ViewData["Title"] = "Index";
    Layout = "_Layout";
}


<table class="table">
    <thead>
        <tr>

            <th>Tên đăng nhập</th>
            <th>Email</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <!-- Add button to assign roles to user -->
                    <a asp-controller="Admin" asp-action="AssignRole" asp-route-userId="@user.Id">Assign Role</a>
                </td>
            </tr>
        }
    </tbody>
</table>